<div>
  <div>
    <div class="col-md-6" style="height: 70vh; padding: 0;">
      <span class="vertical-align" style="padding: 0 50px;">
        <h3 class="sans">The New Dow is here       
        </h3>
        <p style="font-size:1.3em;">How do you transform challenges into opportunities, redefine what's possible and help create a more efficient, more sustainable world at the same time? It takes collaboration, teamwork and a belief that the next breakthrough is only a moment of inspiration away.</p>
        <button (click)="toggleProfile()">
            <span class="glyphicon glyphicon-user"></span> My Account
        </button>
      </span>
    </div>
    <div class="col-md-6" style="height: 70vh; padding: 0;">
        <div style="background-image: url('../../../assets/images/textures/texture.jpg');height: 70vh;background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;">
          <span class="vertical-align" style="padding: 0 50px; color: #FFF;">
            <h3 class="sans">Our ambition</h3>
            <p style="font-size: 1.3em;">To become the most innovative, customer-centric, inclusive and sustainable materials science company in the world. </p>
          </span>
        </div>
    </div>
</div>
