<div id="userIdentifier">
  <h4>Name: {{userData?.displayName}}</h4>

  id: {{userData?.id}} <br />
  userPrincipalName: {{userData?.userPrincipalName}} <br />
  jobTitle: {{userData?.jobTitle}} <br />

  displayName: {{userData?.displayName}} <br />
  givenName: {{userData?.givenName}} <br />
  surname: {{userData?.surname}} <br />

  mail: {{userData?.mail}} <br />
  mobilePhone: {{userData?.mobilePhone}} <br />
  businessPhones: {{userData?.businessPhones}} <br />

  officeLocation: {{userData?.officeLocation}} <br />
  preferredLanguage: {{userData?.preferredLanguage}} <br />


</div>