<div class="Persona">
  <div class="Persona--coin">
    <div class="Persona--imageArea">
      <div class="Persona--initials" aria-hidden="true">
        <span>{{ persona.initials }}</span>
      </div>
    </div>
  </div>
  <div class="Persona--details">
    <div class="Persona--text--primary">
      <span>{{ persona.name }}</span>
    </div>
    <div class="Persona--text--secondary">
      <span class="display-inline">{{ persona.displayableId }}</span>
    </div>
    <div class="Persona--text-tertiary"></div>
    <div class="Persona--text-optional"></div>
  </div>
</div>